* {
    margin: 0px;
    padding: 0px;
}
:root{
    --first-color: #FF0000;
    --second-color: rgb(255, 255, 255);
    --third-color: rgba(7, 2, 17, 1);
    --fourth-color: rgba(7, 2, 17, 0);
    --fifth-color: rgba(255, 0, 0, 1);
}


.merriweather-happy-n-year{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-siblings{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* heading section */

header {
    display: flex;
    width: 100vw;
}

.heading-start {
    display: flex;
    background-image: url(./images/Banner\ Image.png);
    background-position: top center;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    width: 1320px;
    height: 800px;
    margin: 50px 300px 0px 300px;
    /* overflow: hidden; */
}


.message {
    display: flex;
    /* background-color: var(--third-color); */
    background-image: linear-gradient(to bottom , var(--third-color), var(--fourth-color));
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.greetings {
    font-size: 32px;
    font-weight: 400;
    color: var(--second-color);
}

.celebration {
    font-size: 72px;
    font-weight: bolder;
    color: var(--second-color);
    margin: 16px 344px 0px 344px;
}

/* The discount announcment section */

.first-discounts {
    display: flex;
    justify-content: center;
}

.discounts {
   text-align: center;
}

.discount {
    color: var(--fifth-color);
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}

.suggestion {
    color: var(--fifth-color);
    font-size: 24px;
    font-weight: medium;
}

.categories {
    color: var(--third-color);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}