* {
    margin: 0px;
    padding: 0px;
}

:root{
    --first-color: #FF0000;
    --second-color: rgb(255, 255, 255);
    --third-color: rgba(7, 2, 17, 1);
    --fourth-color: rgba(7, 2, 17, 0);
    --fifth-color: rgb(255, 230, 230);
}

.merriweather-happy-n-year {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-siblings{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* heading section starts */

header {
    display: flex;
    width: 100vw;
}

.heading-start {
    display: flex;
    background-image: url(./images/Banner\ Image.png);
    background-position: top center;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    width: 1320px;
    height: 600px;
    margin: 50px 300px 0px 300px;
    overflow: hidden;
}


.message {
    display: flex;
    background-image: linear-gradient(to bottom , var(--third-color), var(--fourth-color));
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.greetings {
    font-size: 32px;
    font-weight: 400;
    color: var(--second-color);
}

.celebration {
    font-size: 72px;
    font-weight: bolder;
    color: var(--second-color);
    margin: 16px 344px 0px 344px;
}


/* heading section ends */

/* for the main section */
main {
    max-width: 1320px;
    height: auto;
}
/* for the main section */

/* The discount announcment section starts */

.first-discounts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 300px 0px 300px;
}

.discounts {
   text-align: center;
}

.discount {
    color: var(--first-color);
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
    margin-top: 120px;
}

.suggestion {
    color: var(--first-color);
    font-size: 24px;
    font-weight: medium;
}

.categories {
    color: var(--third-color);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}

/* The discount announcment section ends */

/* joining invitation section starts */

.parent-img {
    background-image: url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    position: relative;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 300px 0px 300px;
    color: var(--second-color);
}

.invitation {
    margin-left: 126px;
    margin-right: 39.17px;
    z-index: 1;
}

.second-img {
    margin-right: 138px;
    z-index: 1;
}

.greetings-2 {
    font-size: 64px;
    font-weight: bolder;
}

.message-2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 4px;
}

.invitation-2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 48px;
    margin-left: 32px;
}

.parent-img::before {
    content: "";
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    position: absolute;
    background-image: linear-gradient(to right, var(--third-color), var(--fourth-color));
}

/* joining invitation section end */


/* time and place section start */

.fourth-background {
    background-image: linear-gradient(to bottom, var(--fifth-color), var(--second-color));
    border-radius: 16px;
    margin: 120px 300px 0px 300px;
    width: 100%;
    height: 600px;
    text-align: center;
    align-content: center;
}

.time-and-place {
    line-height: 50px;
}

.time-and-places {
    font-size: 32px;
    font-weight: 600;
}

.coloring {
    color: var(--first-color);
}

.joining-button {
    padding: 16px 32px;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 16px;
    margin-top: 48px;
}

